/* Use Flexbox to make the content container occupy the full viewport height */
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Apply flex-grow to the main content to fill the available space */
.main-content > div {
  flex-grow: 1;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

a {
	margin:1rem;
}