.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #323845;
  font-family: "Lato", sans-serif;
  padding: 5px 50px;
}

.header-job-board {
  color: #ececec;
  text-align: left;
  font-size: 0.75em;
  line-height: normal;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav a {
  color: #fff;
  font-size: 0.75em;
  text-decoration: none;
  margin: 0 8px;
}

.header-nav a.active {
  background-color: #555;
  border-radius: 4px;
  padding: 3px 10px;
}
